body{    
    color:rgb(0, 66, 165);
    background-color: #A7C4CA
    
}

nav {
    display: inline,flex;    
    justify-content:center;
}

h1{
    color: #95004D;
    font-family: 'Charmonman', cursive;
    font-size: 100px;
    margin:0px;
    display: flex;    
    justify-content:center;
}
}





ul{
    padding:0px;
}



h2{
    font-family: 'Open Sans', sans-serif;
}

li{
    font-family: 'Mali', cursive;
    display: inline;
    color: aliceblue;
    font-size: 30px;
    
}


p{
    font-family: 'K2D', sans-serif;
    font-size: 20px;
}


a:link{
    color:rgb(0, 66, 165);
    text-decoration: none;

    
}

a:hover{
    color:rgb(0, 66, 165)
}

a:active{
    color:rgb(0, 66, 165)
}


a:visited{
    color:rgb(0, 66, 165)
}



.mytxt {
    color:#333;
    line-height:normal;
    font-family:"Microsoft YaHei",Tahoma,Verdana,SimSun;
    font-style:normal;
    font-variant:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-weight:normal;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:4px;
    padding-right:4px;
    padding-bottom:4px;
    padding-left:4px;
    font-size:15px;
    outline-width:medium;
    outline-style:none;
    outline-color:invert;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-shadow:0px 1px 2px #fff;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position-x:left;
    background-position-y:top;
    background-size:auto;
    background-origin:padding-box;
    background-clip:border-box;
    background-color:rgb(255,255,255);
    margin-right:8px;
    border-top-color:#ccc;
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    border-left-color:#ccc;
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    width:420px;
    height:30px;
    margin-bottom: 1em;
}

.button {
    width:430px;
    height:40px;
    margin-bottom: 1em;
}



.backgroundimg {
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
}

.aboutimg{
    height:300px;
    width:500px;
}


.height_width{
    height:100%;
    width:100%;
}

.table_img{
    width:100%;
    border:0;
    

    
}


tr{
    display: flex;
    justify-content:space-around;
}

.td_align{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}



.fas{
    font-size:30px;
}

.table_text{
    display: flex;
    justify-content:space-around;
}